@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Trandau>
@foreach (var item in Model)
{
    var url = "https://localhost:44398/api/TranDauAPI/" + item.TranDauId;
    <li>
        <a onclick="getCauThuByCLB('@url')">@item.TranDauId</a>
    </li>
}
<script>
    const getCauThuByCLB = (url) => {
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: (data) => {
                let str = "";
                $.each(data, (key, val) => {
                    str += `<div class="item">
                                <div class="block-4 text-center">
                                    <figure class="block-4-image">
                                            <img src="../images/${val.anh}" width="150" height="300" alt="Image placeholder" class="img-fluid">
                                    </figure>
                                    <div class="block-4-text p-4">
                                        <h3><a href="#">${val.hoVaTen}</a></h3>
                                    </div>
                                    <a href="https://localhost:44398/Home/suaCauThu?cauThuId=${val.cauThuId}">Edit</a>
                                </div>
                            </div>`;
                })

                $("#showProduct").html(str);
            }
        })
    }
</script>
