<div class="footer">
    <div class="left_footer"> <img src="../Tool/images/footer_logo.png" alt="" width="89" height="42" /> </div>
    <div class="center_footer">
        Template name. All Rights Reserved 2008<br />
        <a href="http://csscreme.com"><img src="../Tool/images/csscreme.jpg" alt="csscreme" title="csscreme" border="0" /></a><br />
        <img src="../Tool/images/payment.gif" alt="" />
    </div>
    <div class="right_footer"> <a href="#">home</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="#">contact us</a> </div>
</div>
