<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />
		<link rel="stylesheet" href="assets/css/magnific-popup.css">

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
		 <nav id="main-nav">
            <ul>
                <li><a href="#home"><span>Home</span></a></li>
                <li><a href="#about"><span>About</span></a></li>
				 <li><a href="#portfolio"><span>Portfolio</span></a></li>
                <li><a href="#features"><span>Features</span></a></li>
                <li><a href="#team"><span>Our Team</span></a></li>
                <li><a href="#skills"><span>Our Skills</span></a></li>
                <li><a href="#testimonial"><span>Testimonial</span></a></li>
                <li><a href="#news"><span>Our News</span></a></li>
                <li><a href="#contact"><span>Contact Us</span></a></li>
               
                
            </ul>
            <a href="#0" class="cd-close-menu">Close<span></span></a>
        </nav>

        <!--Home page style-->
        <header id="home" class="home home-main-content">
			
			<div class="container">
				<div class="row">
				
					<div class="div-menu">
						<header class="cd-header">
							<div id="cd-logo">
								<a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
							</div>
							<a class="cd-menu-trigger" href="#main-nav"><span></span></a>
						</header>
					</div>
				
					<div class="home-wrapper">
						<div class="col-sm-6 col-xs-12">
							<div class="home-content">
								<h1>Tomorrow is a <strong>brand</strong> new day!</h1>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
								<div class="more">
									<a href="#">more</a>
								</div>
							</div>
						</div>
							
						<div class="col-sm-6 col-xs-12">
							<div class="home-photo">
								<img src="assets/images/new.png" alt="Women" />
							</div>
						</div>
							
					</div>
				</div>
			</div>
			
        </header>

        <!-- Sections -->
        <section id="about" class="about sections">
            <div class="container">
                <!-- Example row of columns -->
				<div class="heading-content text-center">
					<h3>About us</h3>
					<img src="assets/images/separator.png" alt="Separator" />
				</div>
                <div class="row">
                    <div class="about-wrapper">
					
                    	<div class="col-sm-4 col-xs-12">
                    		<div class="about-content">
                    			<h5>Website Design & Developme<span><i class="fa fa-long-arrow-right"></i></span></h5>
                    			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    		</div>
                    	</div>
						
						<div class="col-sm-4 col-xs-12">
                    		<div class="about-content">
                    			<h5>Graphic Design & Advertising<span><i class="fa fa-long-arrow-right"></i></span></h5>
                    			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    		</div>
                    	</div>
						
						<div class="col-sm-4 col-xs-12">
                    		<div class="about-content">
                    			<h5>Advertising & Marketing Strategy<span><i class="fa fa-long-arrow-right"></i></span></h5>
                    			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    		</div>
                    	</div>
						
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>
		
		<section id="portfolio" class="sections lightbg portfolio">
            <div class="container">
			
				<div class="heading-content text-center">
                    <h3>Our works</h3>
                </div>
				
                <div class="row">
                    <div class="main_mix_content whitebackground text-center">
                        
                        <div class="main_mix_menu">
                            <button class="filter" data-filter="all">All <span>/</span></button>
                            <button class="filter" data-filter=".cat1">architecture <span>/</span></button>
                            <button class="filter" data-filter=".cat2">Interior & Furniture Design <span>/</span></button>
                            <button class="filter" data-filter=".cat3"> Research & Graphic Design</button>
                        </div>

                        <div id="test" class="test">
                            <div class="col-md-4 mix cat1 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Sample</h2>
                                            <p>Design, Bottle</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat2 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>On the road</h2>
                                            <p>Branding, Design, Logotype</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat3 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Terminal</h2>
                                            <p>Design, Logotype, Terminal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat3 cat1 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Sample</h2>
                                            <p>Design, Bottle</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat3 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Noteckie</h2>
                                            <p>Branding, Design, Logotype</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat2 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="assets/images/portfolio/1.png" alt="Portfolio" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Voyageur du temps</h2>
                                            <p>Design, Logotype, Termina</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
						
                    </div> 

                </div>
				
				<div class="more">
					<a href="#">more</a>
				</div>
				
            </div>

        </section><!-- End of portfolio two Section -->
		
		<!-- Sections -->
        <section id="features" class="features sections">
            <div class="container">
				<div class="heading-content text-center">
					<h3>Why Choose Us</h3>
					<img src="assets/images/separator.png" alt="separator" />
				</div>
                <!-- Example row of columns -->
                <div class="row">
                    <div class="features-wrapper">
					
                    	
							<div class="col-sm-8 col-sm-offset-2 col-xs-12">
							
								<div class="main-features">
									<div class="col-sm-3 col-xs-12">
										<div class="features-icon">
											<i class="fa fa-pencil"></i>
										</div>
									</div>
									<div class="col-sm-9 col-xs-12">	
										<div class="features-details">
											<h5>BEAUTIFUL & ENJOYABLE DESIGN</h5>
											<h6>We define the trends. Enough Said!</h6>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>	
								</div>
								
								<div class="main-features">
									<div class="col-sm-3 col-xs-12">
										<div class="features-icon">
											<i class="fa fa-cog"></i>
										</div>
									</div>
									<div class="col-sm-9 col-xs-12">	
										<div class="features-details">
											<h5>BEAUTIFUL & ENJOYABLE DESIGN</h5>
											<h6>We define the trends. Enough Said!</h6>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>	
								</div>
							
								<div class="main-features">
									<div class="col-sm-3 col-xs-12">
										<div class="features-icon">
											<i class="fa fa-bug"></i>
										</div>
									</div>
									<div class="col-sm-9 col-xs-12">	
										<div class="features-details">
											<h5>BEAUTIFUL & ENJOYABLE DESIGN</h5>
											<h6>We define the trends. Enough Said!</h6>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>	
								</div>
							
								<div class="main-features">
									<div class="col-sm-3 col-xs-12">
										<div class="features-icon">
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<div class="col-sm-9 col-xs-12">	
										<div class="features-details">
											<h5>BEAUTIFUL & ENJOYABLE DESIGN</h5>
											<h6>We define the trends. Enough Said!</h6>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>	
								</div>	
								
							</div>
						
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>
		
		<!-- Sections -->
        <section id="achivement" class="achivement">
			<div class="overlay sections">
				<div class="container">
					<!-- Example row of columns -->
					<div class="row">
						<div class="achivement-wrapper">
							<div class="col-sm-8 col-xs-12">
								<div class="achivement-details">
									<h2>Voyageur du temp</h2>
									<p>Our last responsive work in process. Just use the link below to watch what we are doing right now. Hope you like it!</p>
									<div class="more"><a href="#">more</a></div>
								</div>
	
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="achivement-gallery">
									<img src="assets/images/iphone.png" alt="Gallery Image" />
								</div>
							</div>
						</div>

					</div>
					
					
				</div> <!-- /container -->
			</div>		
        </section>
		
		<section id="counterup" class="counterup lightbg sections">
			<div class="container">
				<div class="row">
						<div class="counterup-wrapper">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="counterup">
									<div class="counterup-photo">
										<img src="assets/images/counterup/1.png" alt="counterup" />
									</div>
									<div class="counterup-content">
										<h5 class="count-number">11</h5>
										<h6>Designers</h6>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="counterup">
									<div class="counterup-photo">
										<img src="assets/images/counterup/2.png" alt="counterup" />
									</div>
									<div class="counterup-content">
										<h5 class="count-number">6542</h5>
										<h6>Hours Worked</h6>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="counterup">
									<div class="counterup-photo">
										<img src="assets/images/counterup/3.png" alt="counterup" />
									</div>
									<div class="counterup-content">
										<h5 class="count-number">254</h5>
										<h6>Project finished</h6>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="counterup">
									<div class="counterup-photo">
										<img src="assets/images/counterup/4.png" alt="counterup" />
									</div>
									<div class="counterup-content">
										<h5 class="count-number">435</h5>
										<h6>Drunk coffee</h6>
									</div>
								</div>
							</div>
							
						</div>
					</div>
			</div>
		</section>
		
		
		<!-- Sections -->
        <section id="team" class="team sections">
            <div class="container">
			
				<div class="heading-content text-center">
					<h3>Our Team</h3>
					<img src="assets/images/separator.png" alt="separator" />
					<p>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
				</div>
				
                <!-- Example row of columns -->
                <div class="row">
					<div class="team-wrapper text-center">
						<div class="col-sm-3 col-xs-12">
							<div class="team-member">
								<div class="team-photo">
									<img src="assets/images/team/1.png" alt="Team Photo" />
								</div>
								
								<div class="team-info">
									<h5>john Doe</h5>
									<h6>Senior Designer</h6>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-xs-12">
							<div class="team-member">
								<div class="team-photo">
									<img src="assets/images/team/2.png" alt="Team Photo" />
								</div>
								
								<div class="team-info">
									<h5>john Doe</h5>
									<h6>Senior Designer</h6>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-xs-12">
							<div class="team-member">
								<div class="team-photo">
									<img src="assets/images/team/3.png" alt="Team Photo" />
								</div>
								
								<div class="team-info">
									<h5>john Doe</h5>
									<h6>Senior Designer</h6>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-xs-12">
							<div class="team-member">
								<div class="team-photo">
									<img src="assets/images/team/4.png" alt="Team Photo" />
								</div>
								
								<div class="team-info">
									<h5>john Doe</h5>
									<h6>Senior Designer</h6>
								</div>
							</div>
						</div>
						
					</div>
                </div>
            </div> <!-- /container -->       
        </section>
		
		 <!-- Sections -->
        <section id="video" class="video">
            <div class="overlay2 sections">
                <div class="container text-center">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <div class="video-content">

                                <a href="http://www.youtube.com/embed/ee1_2gA8UZY?autoplay=1&amp;.)wmode=opaque&amp;.)fs=1" class="youtube-media"><i class="fa fa-play"></i></a>

                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>		
        </section>
		
		<!-- Sections -->
        <section id="skills" class="skills sections">
            <div class="container">
				<div class="heading-content text-center">
					<h3>Our Skills</h3>
					<img src="assets/images/separator.png" alt="separator" />
				</div>
                <!-- Example row of columns -->
                <div class="row">
                    <div class="skills-wrapper">
						<div class="col-sm-6 col-xs-12">
							<div class="skills-content">
								<h5>PERFECT LAYOUT & EFFICIENT CODING</h5>
								<h6>We produce top class code</h6>
								<p>Hi, my name is Sergey Nefortunov, I'm 25 and I'm a web & UI designer based in Kiev, Ukraine. I started designing long ago with the basic pencil and paper drawings, sketching, painting and product design. Now I work with such software as Adobe Photoshop and Adobe Illustrator. Also I work with the Content Management Systems such as: Wordpress and Magento.</p>
							</div>
						</div>
						
					
						<div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="skillbar" data-percent="90%">
                                <div class="skillbar-title">
                                    <h3 class="blue">Adobe-photoshop</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="90%">
                                <div class="skillbar-title">
                                    <h3 class="blue">Adobe-Illustrator</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="60%">
                                <div class="skillbar-title">
                                    <h3 class="blue">HTML5</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="65%">
                                <div class="skillbar-title">
                                    <h3 class="blue">CSS</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="70%">
                                <div class="skillbar-title">
                                    <h3 class="blue">JavaScript</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="90%">
                                <div class="skillbar-title">
                                    <h3 class="blue">Phython</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="80%">
                                <div class="skillbar-title">
                                    <h3 class="blue">Responsive Design</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="60%">
                                <div class="skillbar-title">
                                    <h3 class="blue">Adobe-Illustrator</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
							<div class="skillbar" data-percent="80%">
                                <div class="skillbar-title">
                                    <h3 class="blue">HTML5</h3>
                                </div>
                                <div class="skillbar-bar blue"></div>
                            </div>
							
                        </div>
						
						
                    </div> 
                </div>
				
            </div> <!-- /container -->       
        </section>
		
		<section id="brand" class="brand">
			<div class="container-fluid">
				<div class="row">
					<div class="brand-wrapper">
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/1.png" alt="Brand Logo" /></div>
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/2.png" alt="Brand Logo" /></div>
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/3.png" alt="Brand Logo" /></div>
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/4.png" alt="Brand Logo" /></div>
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/5.png" alt="Brand Logo" /></div>
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 no-padding">
							<div class="brand-logo"><img src="assets/images/brand-logo/6.png" alt="Brand Logo" /></div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<!-- Sections -->
        <section id="testimonial" class="testimonial">
            <div class="container text-center">

                <!-- Example row of columns -->
                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">

                                    <div class="col-sm-5 col-xs-12">
                                        <div class="testimonial-photo">
                                            <img src="assets/images/women.png" alt="testimonial" />
                                        </div>
                                    </div>

                                    <div class="col-sm-7 col-xs-12">
                                        <div class="testimonial-content">
											<div class="testimonial-quote">
												<i class="fa fa-quote-left"></i> 
											</div>
											<div class="testimonial-details">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
												<h5>Johnna Doe</h5>
												<h6>Senior Designer, Manager</h6>
											</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="item">

                                    <div class="col-sm-5 col-xs-12">
                                        <div class="testimonial-photo">
                                            <img src="assets/images/women.png" alt="testimonial" />
                                        </div>
                                    </div>

                                    <div class="col-sm-7 col-xs-12">
                                        <div class="testimonial-content">
											<div class="testimonial-quote">
												<i class="fa fa-quote-left"></i> 
											</div>
											<div class="testimonial-details">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
												<h5>Johnna Doe</h5>
												<h6>Senior Designer, Manager</h6>
											</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="item">

                                    <div class="col-sm-5 col-xs-12">
                                        <div class="testimonial-photo">
                                            <img src="assets/images/women.png" alt="testimonial" />
                                        </div>
                                    </div>

                                    <div class="col-sm-7 col-xs-12">
                                        <div class="testimonial-content">
											<div class="testimonial-quote">
												<i class="fa fa-quote-left"></i> 
											</div>
											<div class="testimonial-details">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
												<h5>Johnna Doe</h5>
												<h6>Senior Designer, Manager</h6>
											</div>
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>


                    </div>

                </div>	


            </div> <!-- /container -->       
        </section>
		
		<!-- Sections -->
        <section id="news" class="news sections">
            <div class="container">
				<div class="heading-content text-center">
					<h3>Our News</h3>
					<img src="assets/images/separator.png" alt="separator" />
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
				</div>
                <!-- Example row of columns -->
                <div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="news-wrapper">
                    	<div class="col-md-6 col-sm-6 col-xs-12">
                    		<div class="news-photo">
								<img src="assets/images/news/1.jpeg" alt="News Image" />
							</div>
                    	</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12">
                    		<div class="news-content">
								<h5>PERFECT LAYOUT</h5>
								<a href="#">11 august 2014</a>
								<div class="separator2"></div>
								<p>Hi, my name is Sergey Nefortunov, I'm 25 and I'm a web & UI designer based in Kiev, Ukraine. I started designing long ago with the basic pencil and paper drawings, sketching, painting and product design. Hi, my name is Sergey Nefortunov, I'm 25 and I'm a web & UI designer based in Kiev, Ukraine.</p>
								
								<div class="news-tags">
									<a href="#">Graphic Design</a>
									<a href="#">Web Development</a>
									<a href="#">Computer</a>
								</div>
								
							</div>
                    	</div>
						
                    </div>
				</div>	
					
					<div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="news-wrapper">
                    	<div class="col-md-6 col-sm-6 col-xs-12">
                    		<div class="news-photo">
								<img src="assets/images/news/2.jpg" alt="News Image" />
							</div>
                    	</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12">
                    		<div class="news-content">
								<h5>PERFECT LAYOUT</h5>
								<a href="#">11 august 2014</a>
								<div class="separator2"></div>
								<p>Hi, my name is Sergey Nefortunov, I'm 25 and I'm a web & UI designer based in Kiev, Ukraine. I started designing long ago with the basic pencil and paper drawings, sketching, painting and product design. Hi, my name is Sergey Nefortunov, I'm 25 and I'm a web & UI designer based in Kiev, Ukraine.</p>
								
								<div class="news-tags">
									<a href="#">Web Design</a>
									<a href="#">User Interface</a>
									<a href="#">Graphic Design</a>
									
								</div>
								
							</div>
                    	</div>
						
                    </div>
				</div>
					
                </div>
				
				<div class="more text-center">
					<a href="#">more</a>
				</div>
				
            </div> <!-- /container -->       
        </section>
		
		<!-- Sections -->
        <section id="thank-you" class="thank-you lightbg sections">
            <div class="container">
			
				<div class="heading-content text-center">
					<h3>Thank you!</h3>
				</div>
			
                <!-- Example row of columns -->
				<div class="row">
					<div class="wrapper">
						<div class="col-sm-4 col-sm-offset-4 col-xs-12">
							<div class="thank-you-form">
								<form action="" method="post">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="name">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="email">
									</div>
									
									<div class="form-group">
										<textarea class="form-control" rows="1" placeholder="message"></textarea>
									</div>

									<div class="more text-center">
										<a type="submit" href="#">send</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                
				
            </div> <!-- /container -->       
        </section>
		
		
		<!-- Sections -->
        <section id="contact" class="contact sections">
		
			<div class="heading-content text-center">
				<h3>Contact</h3>
				<img src="assets/images/separator.png" alt="separator" />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
			</div>
			
            <div class="container">
			
                <!-- Example row of columns -->
                <div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-xs-12">
						<div class="contact-wrapper text-center">
							<div class="col-sm-4 col-xs-12">
								<div class="contact-details">
									<i class="fa fa-paper-plane"></i>
									<h5>hi@sndsgn.ca</h5>
								</div>
							</div>
							
							<div class="col-sm-4 col-xs-12">
								<div class="contact-details">
									<i class="fa fa-map-marker"></i>
									<h5>Ukraine, Kiev, Khreshatik str.</h5>
								</div>
							</div>
							
							<div class="col-sm-4 col-xs-12">
								<div class="contact-details">
									<i class="fa fa-phone"></i>
									<h5>+38 066 475 30 22</h5>
								</div>
							</div>
							
						</div>
					</div>	
                </div>
            </div> <!-- /container -->       
        </section>
		
		<div class="scroll-top">

            <div class="scrollup">
                <i class="fa fa-angle-double-up"></i>
            </div>

        </div>
	
        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
            	<div class="row">
            		<div class="wrapper">
            			<div class="col-sm-6 col-sm-offset-3 col-xs-12">
            				<div class="footer-item text-center">
								<i class="fa fa-bicycle"></i>
								<div class="logo">
									<img src="assets/images/logo.png" alt="Logo" />
								</div>
								
								<div class="social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
								</div>
								
								<div class="copyright">
									<p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>
								</div>
								
							</div>
            			</div>
            		</div>
            	</div>
            </div>
        </footer>


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/jquery.mixitup.min.js"></script>
		<script src="assets/js/jquery.easypiechart.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/modernizr.js"></script>
		
        <script src="assets/js/main.js"></script>
    </body>
</html>
